var letter = {
    '0': 'A',
    '1': 'B',
    '2': 'C',
    '3': 'D'
}
var letter1 = {
    '0': '对',
    '1': '错',
}

var helper = function (res) {
    var t='';
    for (var i = 0; i < res.length; i++) {
        if(i!=res.length-1){
            t += (letter[res[i]]+',')
        }
       else{
           t+= letter[res[i]]
       }
    }
    return t
}
module.exports = {
    letter: letter,
    helper:helper,
    letter1:letter1
};